/* Base */
body {
  font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
  background-color: rgba(57, 129, 203, 0.7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(57, 129, 203, 0.7);
  margin-bottom: 30px;
}

/* GoogleMaps background */
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#container {
  z-index: 1;
  height: 100vh;
}

/* Dog card */
.dog-card {
  height: 200px;
  width: 300px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 4px;
  color: #f5f6f6;
  background-color: rgba(57, 129, 203, 0.7);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .1);
}

.dog-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* History feed */
.history-feed-parent {
  height: 100%;
  max-height: 90vh;
  overflow-y: scroll;
}

.history-feed {
  height: 100%;
  border-bottom-left-radius: 4px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  transition: transform 0.6s ease-out;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.history-feed-hidden {
  height: 100%;
  border-bottom-left-radius: 4px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  transition: transform 0.6s ease-in;
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.history-handle {
  color: #f5f6f6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
  width: 30px;
  float: right;
  background-color: rgba(90, 85, 85, 0.9);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-out;
  opacity: 0.9;
}

.history-handle-hidden {
  color: #f5f6f6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
  width: 30px;
  float: right;
  background-color: rgba(90, 85, 85, 0.9);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.history-feed-title {
  border-top-left-radius: 4px;
  height: 50px;
  color: #f5f6f6;
  background-color: rgba(90, 85, 85, 0.9);
}

.history-feed-title h3 {
  padding: 10px;
  margin-top: 0px;
}

/* History item */
.history-item {
  color: #f5f6f6;
  background-color: rgba(57, 129, 203, 0.7);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .1);
  height: 70px;
  transition: background-color 0.3s ease-in;
}

.history-item:hover {
  color: #f5f6f6;
  background-color: rgba(57, 129, 203, 0.9);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .1);
  height: 70px;
  transition: background-color 0.3s ease-in;
}

.history-item img {
  border-radius: 50%;
  padding: 10px;
}

/* Activity menu */
.activity-menu {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
  width: 50px;
  padding-top: 10px;
  background-color: rgba(90, 85, 85, 0.9);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  z-index: 3;
}

/* Activity item */
.activity-item {
  color: #f5f6f6;
  padding-bottom: 11px;
  text-align: center;
}

.activity-item:hover {
  color: rgba(57, 129, 203, 0.9);
  padding-bottom: 11px;
  text-align: center;
  transition: color 0.2s ease-in;
}

.activity-letter {
  text-align: center;
  font-size: 25px;
}

/* Activity modal */
.activity-icon {
  border-radius: 50%;
}

.activity-label {
  margin-top: 10px !important;
}

/* Modal Buttons */
.buttonStyles:nth-child(2) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
