/* Base */
body {
  font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
  background-color: rgba(57, 129, 203, 0.7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(57, 129, 203, 0.7);
}

/* GoogleMaps background */
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, .1);
}

#container {
  z-index: 1;
}

/* Dog card */
.dog-card {
  height: 200px;
  width: 300px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 4px;
  color: #f5f6f6;
  background-color: rgba(57, 129, 203, 0.7);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .1);
}

.dog-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
